name: Merge main, run tests and build docu

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Merge main into current branch
        run: |
          git fetch origin main:main --update-head-ok
          git merge main
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: "3.8"
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        run: tox -e docs # Run tox using the version of Python in `PATH`
      - name: Setup Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        run: tox -e docs # Run tox using the version of Python in `PATH`
      - name: Setup Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: "3.6"
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        run: tox -e py  # Run tox using the version of Python in `PATH`, don't build docs on py36 due to bugs in sphinx
